{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>login</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">

                    <div class="apply_job_form white-bg" >
                        <form method="POST" enctype="multipart/form-data">
                            {% block body %}
                            {% endblock %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

